.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);

  $size: 36px;

  min-width: 100px;
  height: $size;

  padding: 0 var(--space-base);

  border: none;
  border-radius: $size;

  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
  color: var(--color-button-text);
  font-weight: 600;

  background-color: var(--color-button-background);

  outline: 2px solid transparent;
  outline-offset: 2px;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: var(--duration-base);
    transition-timing-function: ease-in-out;
    transition-property: background-color, color, outline;
  }

  &:focus-visible {
    outline-color: var(--colors-element-border-active);
  }

  &:focus-visible,
  &:not(:disabled):hover {
    > i {
      transform: translateX(var(--space-xs));
    }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  > i {
    font-size: var(--text-base);

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: var(--duration-base);
      transition-timing-function: ease-in-out;
      transition-property: transform;
    }
  }
}
