.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  @media (prefers-reduced-motion: no-preference) {
    animation: var(--duration-base);
    animation-timing-function: ease-in;
    animation-name: pageFadeIn;
  }
}

.text {
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
  color: var(--colors-text-low-contrast);

  > a {
    color: var(--colors-text-high-contrast);

    padding: var(--space-xs);
    border-radius: var(--radii-sm);

    outline: 2px solid transparent;
    outline-offset: 2px;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: var(--duration-base);
      transition-timing-function: ease-in-out;
      transition-property: background-color, color, outline;
    }

    &:focus-visible {
      outline-color: var(--colors-element-border);
    }

    &:hover {
      background-color: var(--colors-element-background-hover);
    }
  }
}

@keyframes pageFadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
