/* Page Container Styles */

.pageContainer {
  display: flex;
  flex-direction: column;

  padding: 2rem 1.5rem 1.5rem;

  animation: fade-in-keyframe var(--default-animation-time) ease-out;
}

@keyframes fade-in-keyframe {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Page Header Styles */

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > nav {
    height: 5rem;
  }

  > h1 {
    font-size: 2rem;
    letter-spacing: 1.25px;
    font-weight: 700;
  }

  > p {
    font-size: 1.125rem;
    letter-spacing: 0.75px;
    color: var(--text-secondary-color);
    margin-top: 1rem;
  }
}

/* Page Form Styles */

.pageForm {
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
}

/* Page Footer Styles */

.pageFooter {
  > p {
    color: var(--text-secondary-color);

    > a, > button {
      color: var(--primary-color);
      font-weight: 500;
      background: transparent;
      border: 0;
      line-height: inherit;
      font-size: inherit;
      height: inherit;

      border-bottom: 1px solid transparent;

      transition: filter var(--default-animation-time) ease-out,
                  text-shadow var(--default-animation-time) ease-out,
                  border-color var(--default-animation-time) ease-out,
                  color var(--default-animation-time) ease-out,
                  opacity var(--default-animation-time) ease-out;

      &:hover, &:focus {
        filter: brightness(1.125);
        text-shadow: 0 1px 15px var(--button-box-shadow-color);
        border-color: var(--primary-color);
      }

      &:disabled {
        color: var(--text-secondary-color);
        cursor: not-allowed;
        border-color: transparent;

        opacity: 0.56;

        &:hover, &:focus {
          filter: brightness(1);
          text-shadow: unset;
        }
      }
    }
  }
}
