@import "@phosphor-icons/web/regular";

:root {
  /** ----- Colors ----- */

  --screen-width-max: 1200px;

  /** ----- Sizes ----- */

  --text-xs: 0.75rem;           /* 12px */
  --text-sm: 0.875rem;          /* 14px */
  --text-base: 1rem;            /* 16px */
  --text-lg: 1.125rem;          /* 18px */
  --text-xl: 1.25rem;           /* 20px */
  --text-2xl: 1.5rem;           /* 24px */
  --text-3xl: 1.875rem;         /* 30px */
  --text-4xl: 2.25rem;          /* 36px */

  --line-height-xs: 1rem;       /* 16px */
  --line-height-sm: 1.25rem;    /* 20px */
  --line-height-base: 1.5rem;   /* 24px */
  --line-height-lg: 1.75rem;    /* 28px */
  --line-height-xl: 1.75rem;    /* 28px */
  --line-height-2xl: 2rem;      /* 32px */
  --line-height-3xl: 2.25rem;   /* 36px */
  --line-height-4xl: 2.5rem;    /* 40px */

  /** ----- Space ----- */

  --space-xs: 4px;
  --space-sm: 8px;
  --space-base: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /** ----- Radii ----- */

  --radii-xs: 4px;
  --radii-sm: 6px;
  --radii-base: 8px;
  --radii-lg: 12px;
  --radii-xl: 16px;

  /** ----- Colors ----- */

  --colors-app-background: hsl(300, 20.0%, 99.0%);
  --colors-app-background-subtle: hsl(300, 7.7%, 97.5%);

  --colors-element-background: hsl(294, 5.5%, 95.3%);
  --colors-element-background-hover: hsl(289, 4.7%, 93.3%);
  --colors-element-background-active: hsl(283, 4.4%, 91.3%);

  --colors-border-subtle: hsl(278, 4.1%, 89.1%);
  --colors-element-border: hsl(271, 3.9%, 86.3%);
  --colors-element-border-active: hsl(255, 3.7%, 78.8%);

  --colors-text-low-contrast: hsl(252, 4.0%, 44.8%);
  --colors-text-high-contrast: hsl(260, 25.0%, 11.0%);

  --colors-error-element-background: hsl(360, 100%, 96.8%);
  --colors-text-error: hsl(358, 75.0%, 59.0%);

  --color-button-background: var(--colors-text-high-contrast);
  --color-button-background-hover: var(--colors-text-low-contrast);
  --color-button-text: var(--colors-app-background);

  /** ----- Transition ----- */

  --duration-base: 150ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    /** ----- Colors ----- */

    --colors-app-background: hsl(246, 6.0%, 9.0%);
    --colors-app-background-subtle: hsl(240, 5.1%, 11.6%);

    --colors-element-background: hsl(241, 5.0%, 14.3%);
    --colors-element-background-hover: hsl(242, 4.9%, 16.5%);
    --colors-element-background-active: hsl(243, 4.9%, 18.8%);

    --colors-border-subtle: hsl(244, 4.9%, 21.5%);
    --colors-element-border: hsl(245, 4.9%, 25.4%);
    --colors-element-border-active: hsl(247, 4.8%, 32.5%);

    --colors-text-low-contrast: hsl(253, 4.0%, 63.7%);
    --colors-text-high-contrast: hsl(256, 6.0%, 93.2%);

    --colors-error-element-background: hsl(356, 43.4%, 16.4%);
    --colors-text-error: hsl(358, 75.0%, 59.0%);

    --color-button-background: var(--colors-text-high-contrast);
    --color-button-background-hover: var(--colors-text-low-contrast);
    --color-button-text: var(--colors-app-background);
  }
}

/** ----- Reset Styles ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--colors-app-background);
  color: var(--colors-text-high-contrast);
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a, button, input {
  font-family: inherit;
}

a, img, button {
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
