.spinner {
  width: var(--text-base);
  height: var(--text-base);

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;

  > circle {
    stroke: var(--color-button-text);
    stroke-linecap: round;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: dash;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

