.field {
  display: flex;
  flex-direction: column;

  > label {
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    color: var(--colors-text-low-contrast);
    font-weight: 500;

    pointer-events: none;
    user-select: none;

    margin-bottom: var(--space-xs);

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: var(--duration-base);
      transition-timing-function: ease-in-out;
      transition-property: color;
    }
  }
}

.inputContainer {
  display: flex;
  align-items: center;

  position: relative;

  $horizontalPadding: 12px;
  $iconSize: 20px;

  &:has(i) > input {
    padding-left: $horizontalPadding + $iconSize + $horizontalPadding;
  }

  &:focus-within > i {
    color: var(--colors-text-high-contrast);
  }

  > i {
    position: absolute;

    font-size: $iconSize;
    color: var(--colors-text-low-contrast);

    left: $horizontalPadding;

    pointer-events: none;
    user-select: none;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: var(--duration-base);
      transition-timing-function: ease-in-out;
      transition-property: color;
    }
  }

  > input {
    flex: 1;

    font-size: var(--text-sm);
    line-height: var(--line-height-sm);
    color: var(--colors-text-high-contrast);
    font-weight: 500;

    height: 40px;
    padding: 0 $horizontalPadding;
    border-radius: var(--radii-sm);
    border: 1.5px solid transparent;

    background-color: var(--colors-element-background);
    caret-color: var(--colors-text-low-contrast);

    outline: none;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: var(--duration-base);
      transition-timing-function: ease-in-out;
      transition-property: border-color, color;
    }

    &::placeholder {
      color: var(--colors-text-low-contrast);
    }

    &:not(:disabled):hover {
      border-color: var(--colors-element-border);
    }

    &:focus {
      border-color: var(--colors-element-border-active);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.errorContainer {
  display: inline-flex;
  align-items: center;

  height: 24px;

  > span {
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    color: var(--colors-text-error);

    @media (prefers-reduced-motion: no-preference) {
      animation-duration: var(--duration-base);
      animation-timing-function: ease-in-out;
      animation-name: fadeIn;
    }
  }
}

.withError {
  > label, i {
    color: var(--colors-text-error);
  }

  input {
    border-color: var(--colors-text-error);
    caret-color: var(--colors-text-error);


    &::selection {
      background-color: var(--colors-text-error);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(var(--space-xs));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
